body {
    border: 20px solid #bdc3c7;
    text-align: left;
    max-width: 700px;
    width:80%;
    align-content: center;
    padding: 20px;
    margin: 20px auto;
}
#first {
        border-left: 3px solid gray;
}
p {

    padding-left: 6px;
    margin-left: 10px;
    margin-bottom: 3px;
    font-weight: 500;
    font-family: Source Sans Pro;
}
h3 { 
    color: #3498db;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: Source Sans Pro;
    font-weight: 800;
}
h2 {
    margin-left: 10px;
    font-family: Source Sans Pro;
} 
hr {
    width: 90%;
    color: #bdc3c7
}
div {
    align-content: space-around;
}